/* Headline */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
}


body {
  margin: 0;
}

#game {
  position: relative;
  width: 800px;
  height: 800px;
  margin: auto;
}
#pacman {
  align-self: center;
  background-size: cover;
  scale: 1.2;
}

.entity {
  /*
     * Using absolute positioning, we can position our entities
     * within our game using the CSS properties `left` (x) and `top` (y).
     */
  position: absolute;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
  border: solid black;
  background-color: grey;
}

.grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.pac-dot {
  /* background-image: url("./assets/images/pellet/pellet.png");
  background-size: cover;
  scale: 2; */
  content: url("./assets/images/pellet/pellet.png");
  max-width: 10px;
  max-height: 10px;
}

.wall {
  background-image: url("./assets/images/wall1.jpg");
  background-size: cover;
}

.power-pellet {
  background-color: green;
  border-radius: 10px;
}

.blinky {
  background-color: red;
}

.pinky {
  background-color: pink;
}

.inky {
  background-color: cyan;
}

.clyde {
  background-color: orange;
}

.scared-ghost {
  background-color: aquamarine;
}

.score {
  position: absolute;
  top: 10px;
  left: 10px;
}

