/* Headline */
.Headline {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 28%;
  height: 28%;
}
.Pacman-img{
  float: left;
  width: 300px;
  height: 300px;
  margin-top: 350px;
  margin-left: 150px;
}
.Ghost-img{
  margin-top: 350px;
  margin-right: 125px;
  float:right;
  width: 350px;
  height: 350px;
}

.score{
  color: yellow;
  margin-top: 280px;
  margin-left: 100px;
  font-size: 40px ;
}


body {
  margin: 0;
  background-color: black;
 
}

#game {
  position: relative;
  width: 800px;
  height: 800px;
  margin: auto;
}

.entity {
  background-size: cover;
  position: absolute;
  scale: 0.8;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
  border: solid black;
  background-color: grey;
}

.grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.pac-dot {
  /* background-image: url("./assets/images/pellet/pellet.png");
  background-size: cover;
  scale: 2; */
  content: url("./assets/images/pellet/pellet.png");
  max-width: 10px;
  max-height: 10px;
}

.wall {
  background-image: url("./assets/images/wall1.jpg");
  background-size: contain;
}

.power-pellet {
  background-color: green;
  border-radius: 10px;
}

.blinky {
  background-color: red;
}

.pinky {
  background-color: pink;
}

.inky {
  background-color: cyan;
}

.clyde {
  background-color: orange;
}

.scared-ghost {
  background-color: aquamarine;
}

.score {
  position: absolute;
  top: 10px;
  left: 10px;
}

