body {
  margin: 0;
}

#game {
  position: relative;
  width: 800px;
  height: 800px;
  margin: auto;
  background-color: gray;
}

.entity {
  /*
     * Using absolute positioning, we can position our entities
     * within our game using the CSS properties `left` (x) and `top` (y).
     */
  position: absolute;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: solid black;
}

.grid div {
  width: 20px;
  height: 20px;
}

.pac-dot {
  background-color: green;
  border: 5px solid white;
  box-sizing: border-box;
}

.wall {
  background-color: blue;
}

.power-pellet {
  background-color: green;
  border-radius: 10px;
}

.blinky {
  background-color: red;
}

.pinky {
  background-color: pink;
}

.inky {
  background-color: cyan;
}

.clyde {
  background-color: orange;
}

.pac-man {
  background-color: yellow;
  border-radius: 10px;
}

.scared-ghost {
  background-color: aquamarine;
}

.pellet {
    background-image: url("Git Projects/TeamProjectPacman/Phil/pacman1/pacman/assets/images/pellet/pellet.png");
}

.wall {
    background-image: url("Git Projects/TeamProjectPacman/Phil/pacman1/pacman/assets/images/wall.png");
}